.container {
  //padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 85px 20px;
  .user {
    color: var(--Black-Default, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .listContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 16px;
  }
}


.voiceButton {
  background-color:#FFFFFF;
  color : #007BFF;
  font-size: 18px;
  padding-block: 14px;
  padding-inline: 16px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap:8px;
  cursor: pointer;
}