.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  //width: 100%;
  overflow: hidden;
  flex: 1;
  position: relative;
  .modal {
    position: absolute;
    z-index: 1000;
    width: 100%;
  }

}