.wrapper{
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  justify-content: space-between;
  .search{
    cursor: pointer;
    display: flex;
    padding: 2.083px 1.667px 1.253px 1.667px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 16px;
  }
}