.container {
  position: absolute;
  z-index: 999;
  bottom: 3%;
  width: 100%;
  padding: 0 20px;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .workSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 100%;

      .work_btn {
        flex: 1;
        display: flex;
        height: 53px;
        padding: 18px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        border-radius: 12px;
        border: 1px solid var(--Border-Default, #D6DBE1);
        background: var(--White-Default, #FFF);
        color: var(--Black-Default, #000);
        cursor: pointer;

        /* Label/Medium Semibold */
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 18px */
        .highlight{
          color: var(--Brand-Default, #007BFF);
        }
      }
    }
  }
}